html, body {
    height: 100%; /* Set height of html and body to 100% */
    margin: 0; /* Reset margin */
}

body {
    margin: 0;
    background-color: #332744;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
img {
    height: 300px;
    border-radius: 10%;
    border: 5px solid #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    margin: 0 auto 30px;
}
.speech {
    font-size: 20px;
    line-height: 1.5;
}